<!DOCTYPE html>
<html>
<head>
<title>Login CRM</title>
<style>
body {
    font-family: Arial;
    background: #007bff;
    color:white;
    text-align:center;
    padding-top:100px;
}
input, button {
    padding:10px;
    margin:5px;
}
</style>
</head>

<body>

<h2>SMI-LE CRM</h2>

<form method="POST">
<input name="usuario" placeholder="Usuario"><br>
<input name="clave" type="password" placeholder="Contraseña"><br>
<button>Entrar</button>
</form>

<p>Usuario: admin | Clave: 123</p>

</body>
</html>