<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body{background:#0f172a;color:white;text-align:center;font-family:Arial;}
input{padding:10px;margin:10px;width:200px;}
button{background:#22c55e;color:white;padding:10px;border:none;}
.error{color:red;}
</style>
</head>

<body>

<img src="/static/logo.png" width="120"><br><br>
<h2>BASE DE DATOS EXPEDIENTES SMI-LE</h2>

<form action="/login" method="POST">
<input type="text" name="usuario" placeholder="Usuario"><br>
<input type="password" name="clave" placeholder="Contraseña"><br>
<button>Ingresar</button>
</form>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

</body>
</html>